#fb-button {
  color: white;
  background-color: #666;
  border: 2px solid #666;
}

#fb-button:hover {
  background-color: black;
  border: 2px solid black;
}

#red-button, #blue-button, #gim-btn {
  margin-top: 12px;
  margin-right: 14px;
  padding-left: 12px;
  padding-right: 12px;  
}

#red-button {
  color: white;
  background-color: #cf6c5d;
  border: 2px solid #cf6c5d;

}

#red-button:hover {
  background-color: black;
  border: 2px solid black;
}

#blue-button {
  background-color: #577ed2;
  color: white;
  border: 2px solid #577ed2;
  /* margin-right: 20px;
  margin-bottom: 14px; */
}

#blue-button:hover {
  background-color: black;
  border: 2px solid black;
}

#gim-btn {
  color: white;
  background-color: #666;
  border: 2px solid #666;
  margin-top: 0px;
  margin-bottom: 14px;
}

#gim-btn:hover {
  background-color: black;
  border: 2px solid black;
}

#join-blue {
  border: 2px solid #577ed2;
  border-radius: 10px;
}

#join-red {
  border: 2px solid #cf6c5d;
  border-radius: 10px;
}

.join-app-container {
  /* width: 43.7%; */
  vertical-align: top;
  display: inline-block;
  padding: 12px 16px 20px 16px;
  border-radius: 8px;
  margin-bottom: 6vh;
}

.join-app-spacer {
  width: 3%;
  display: inline-block;
}

/* MOBILE VIEW */
@media (max-width: 760px) {
  .join-app-container {
    width: 88%;
  }
}
