@import "tailwindcss";

/* * {
  margin: 0px;
  padding: 0px;
} */

body {
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif; 
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-section {
  text-align: center;
  font-family: "Hanken Grotesk", "Inter", "Karla", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 30px 6px 36px 6px;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 920px;
  transition: 0.2s;
}

#header-spark-text {
  -webkit-text-stroke: 2px black;
  color: rgb(0, 0, 0, 0);
}

.content-section {
  max-width: 920px;
  margin-bottom: 60px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.full-width-content-section {
  width: 100%;
  margin-bottom: 60px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} 

h1 {
  font-family:  "Hanken Grotesk", "Inter", "Karla", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  color: #383838;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

h3 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

ul,
ol {
  list-style-position: inside;
}

li {
  transform: translateX(16px);
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.larger-text {
  font-size: 1.2rem;
}

.bold {
  font-weight: 600;
}

button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 30px 8px 30px;
  font-family: "Hanken Grotesk", "Inter", "Karla", sans-serif;
  font-size: 1.4rem;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.2s;
  margin-bottom: 10px;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 0.2s ease;
}

/* alternative circular button in projects page */
button.yellow-circular {
  border-radius: 9999px;
  width: 3rem;
  padding: 0rem 0.5rem;
  aspect-ratio: 1 / 1;
}

button.yellow-circular:hover {
  background-color: #FFD552;
  color: black;
}

/* MOBILE VIEW */
@media (max-width: 640px) {
  button {
    font-size: 1.2rem;
    transition: 0.2s;
  }

  #header-section {
    font-size: 2rem;
    transition: 0.2s;
  }
}

/* ANIMATIONS */
/* #header-section {
  opacity: 0;
  animation: fadeinfromtop 0.2s forwards;
}

#about-section {
  opacity: 0;
  animation: fadeinfromtop 0.2s forwards;
  animation-delay: 0.1s;
}

#values-section {
  opacity: 0;
  animation: fadeinfromtop 0.2s forwards;
  animation-delay: 0.2s;
}

#branches-section {
  opacity: 0;
  animation: fadeinfromtop 0.2s forwards;
  animation-delay: 0.3s;
}

#work-section {
  opacity: 0;
  animation: fadeinfromtop 0.2s forwards;
  animation-delay: 0.4s;
}

#why-join-section {
  opacity: 0;
  animation: fadeinfromtop 0.2s forwards;
  animation-delay: 0.5s;
}

#socials-section {
  opacity: 0;
  animation: fadeinfromtop 0.2s forwards;
  animation-delay: 0.7s;
} */