.project-section{text-align:left;justify-content:start;align-items:start}.project-section ol{list-style:decimal;margin-left:20px}.project-section ul{list-style:disc;margin-left:20px}.project-button{padding:5px 20px;font-size:1rem}
