.nav-right {
  overflow: hidden;
  float: right;
}

a + a {
  margin-left: 10px;
}

.nav-left {
  float: left;
}

.nav-left img {
  margin-top: 0.4rem;
  height: 2.2rem;
}

.nav-bar {
  height: 3rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
  padding-bottom: 16px;
}

.nav-link {
  font-weight: 500;
  /* width: 100px; */
}

@media (max-width: 420px) {
  .nav-link, .nav-dropdown-content {
    max-width: 60px;
    font-size: 0.9rem;
  }
}
