:root {
  --yellow: #F9DB85;
  --white: #F5F5F5;
  --black: #000;
  --border: 3px solid;
}

* {
  font-family: "HK Grotesk", "Inter", "Karla", sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.centered {
  text-align: center;
}

.header {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

.stroke {
  font-weight: 800;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}