.custom-footer {
  text-align: center;
  border-top: solid 1px #ccc;
  padding: 30px 20px 30px 20px;
  color: #5c5c5c;
}

.custom-footer p {
    line-height: 150%;
}

.hit-counters {
  display: none;
}