.resources-section {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.resources-spacer {
  width: 8%;
  display: inline-block;
}

.resources-section ul {
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.resources-section li {
    margin-bottom: 6px;
}

.resources-section a {
    font-weight: 500;
    color: #577ED2;
    text-decoration: none;
}

.resources-section a:hover {
    text-decoration: underline;
}

/* MOBILE VIEW */
@media (max-width: 640px) {
  .resources-section {
    width: 100%;
  }
}

